site_name: Стихи и проза Насти Беляковой
site_url: https://lib-beliakova.github.io/
# repo_url: https://github.com/lib-beliakova/lib
# edit_uri: edit/main/docs/
copyright: © Белякова А. К., 2020–2024. Не допускается копирование материалов сайта без письменного разрешения правообладателя и указания ссылки на первоисточник.
nav:
  - index.md
  - achievements.md
  - news.md
  - Рассказы:
     - stories/index.md
     - stories/upstairs-neighbor.md
     - stories/button.md
     - stories/whales-and-cats.md
     - stories/turgenev-islands.md
     - stories/dinosaur.md
     - stories/Yasnaya-Polyana.md
     - stories/first-in-orbit.md
     - stories/summer.md
     - stories/under-our-house.md
     - stories/present-mashka.md
     - stories/awakening-from-hibernation.md
     - stories/preparation-for-festival.md
     - stories/sonya.md
     - stories/zastroyschiki.md
     - stories/snowman.md
     - stories/petya.md
     - stories/swallow-dad.md
     - stories/sosna.md
     - stories/autumn-gift.md
  - Сказки:
     - tales/index.md
     - tales/Ivan-dvornik.md
     - tales/Masha-rasteryasha.md
     - tales/rainbow-lama.md
  - Фанфики:
     - fanfics/index.md
     - fanfics/stolen-sun.md
     - fanfics/smeshariki.md
  - Стихотворения:
    - poems/index.md
    - Круговорот сезонов:
      - poems/twelve.md
      - poems/winter-walk.md
      - poems/forest-is-quivering.md
      - poems/avian-dinner.md
      - poems/winter-dream.md
      - poems/about-spring.md
      - poems/after-storm.md
      - poems/country.md
      - poems/summer.md
      - poems/garden-of-autumn.md
      - poems/autumn-parade.md
      - poems/it-was-autumn.md
      - poems/autumn.md
      - poems/sunset.md
      - poems/winter.md
      - poems/skating.md
    - Для детей:
      - poems/cats.md
      - poems/donkey.md
      - poems/unicorn.md
      - poems/my-school-day.md
      - poems/my-dad.md
      - poems/the-hare.md
      - poems/dad-hedgehog.md
      - poems/zapominalochka.md
      - poems/april.md
      - poems/the-crow.md
      - poems/help.md
    - Моменты жизни:
      - poems/loss.md
      - poems/old-piano.md
      - poems/chamomile.md
      - poems/old-palace.md
      - poems/green-stick-legend.md
    - О вдохновении:
      - poems/ink-lines.md
      - poems/poets.md
      - poems/coast-of-poetry.md
      - poems/before-sunrise.md
  - Загадки: riddles.md
  - Боулспорт:
     - boulsport/index.md
     - boulsport/anthem.md
     - boulsport/Gorynysh-and-petank.md
     - boulsport/38-parrots.md
     - boulsport/petank.md
plugins:
  - search
  - i18n:
      docs_structure: suffix
      languages:
        - locale: ru
          name: Russian
          build: true
          site_name: "Стихи и проза Насти Беляковой"
          default: true
  - pandoc:
      enabled_if_env: ENABLE_PANDOC
      pandoc_args:
        from: markdown+rebase_relative_paths-implicit_figures
        to: docx
        metadata: lang:ru-RU
        resource-path: /d/pandoc-resources
        reference-doc: reference.docx
theme:
    name: material
    custom_dir: overrides
    font: false
    palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-4
        name: Темное оформление
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-7
        name: Светлое оформление
    features:
      - navigation.indexes
      - announce.dismiss
      - navigation.top
      - navigation.footer
#      - navigation.expand
extra_css:
    - extra-styles-v9.css
extra:
    generator: false
    analytics:
        provider: google
        property: G-9ZRQD3E6FD
        feedback:
          title: Вам нравится эта страница?
          ratings:
            - icon: material/thumb-up-outline
              name: Да
              data: 1
              note: >-
                Спасибо! Если вам нравится моё творчество, подпишитесь на мой <a href="https://t.me/lib_beliakova">канал в Telegram</a>!
            - icon: material/thumb-down-outline
              name: Нет
              data: 0
              note: Жаль, что вам не понравилось...
    social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/lib_beliakova
      name: Канал в Telegram
    - icon: fontawesome/brands/vk
      link: https://vk.com/lib_beliakova
      name: Страница ВКонтакте
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@a-tunes
      name: Канал на YouTube
    - icon: material/book-open-variant
      link: https://proza.ru/avtor/naaastyaaa
      name: Автор на Проза.ру
    - icon: material/feather
      link: https://stihi.ru/avtor/libbeliakova
      name: Автор на Стихи.ру
markdown_extensions:
  - def_list
  - pymdownx.magiclink # auto-link HTML, FTP, and email links https://facelessuser.github.io/pymdown-extensions/extensions/magiclink/
  - pymdownx.keys # add keys like ++ctrl+alt+delete++ # https://facelessuser.github.io/pymdown-extensions/extensions/keys/
  - pymdownx.tabbed # add tabs https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/
  - pymdownx.details # add spoiler (??? note) https://facelessuser.github.io/pymdown-extensions/extensions/details/
  - pymdownx.snippets # insert a file into another markdown file https://facelessuser.github.io/pymdown-extensions/extensions/snippets/
  - pymdownx.superfences # https://facelessuser.github.io/pymdown-extensions/extensions/superfences/
  - footnotes # https://python-markdown.github.io/extensions/footnotes/
  - tables # https://python-markdown.github.io/extensions/tables/
  - admonition # tips & notes (!!! note) https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - attr_list # https://python-markdown.github.io/extensions/attr_list/
  - md_in_html
  - smarty # converts ASCII dashes, quotes and ellipses to their HTML entity equivalents https://python-markdown.github.io/extensions/smarty/
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
