:root {
    --link-color: #115BC0;
    --md-admonition-icon--audio: url('/images/headphones.svg')
}
pre {
    font-size: 0.8em;
 }
.md-typeset a,
.md-typeset a:hover {
    color: var(--link-color);
}
.md-typeset a:hover:not(.md-button) {
    text-decoration: underline;
}
[data-md-color-scheme="slate"] {
    --link-color: #58a6ff;
}
a.announce-link {
  color: var(--md-primary-fg-color);
  background-color: white;
  border: .1rem solid;
  border-radius: .4rem;
  display: inline-block;
  font-weight: 700;
  padding: .625em 2em;
}
a.announce-link:hover {
  color: white;
  background-color: var(--md-primary-fg-color);
  border: .1rem solid;
  border-radius: .4rem;
  display: inline-block;
  font-weight: 700;
  padding: .625em 2em;
}
.md-banner {
  background: linear-gradient(#65477c, #9198e5);
}
.md-banner__inner {
  text-align: center;
}
article > p {
  text-align: justify
}
.md-typeset .md-button {
  border-radius: 0.3rem;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0.25em 0.5em;
  color: var(--link-color);
}
.md-typeset .admonition.audio,
.md-typeset details.audio {
  border-color: rgb(99, 99, 99);
}
.md-typeset .audio > .admonition-title,
.md-typeset .audio > summary {
  background-color: rgba(99, 99, 99, 0.1);
}
.md-typeset .audio > .admonition-title::before,
.md-typeset .audio > summary::before {
  background-color: rgb(99, 99, 99);
  -webkit-mask-image: var(--md-admonition-icon--audio);
          mask-image: var(--md-admonition-icon--audio);
}
img {
  border-radius: 5%;
}
.figures-wrapper {
  margin: 0px -8px;
  text-align: center;
}
.menu-figures {
  display: inline-block;
  padding: 0px 8px;
  margin: auto;
}
.menu-img {
  border-radius: 20%;
}
figure:hover > .menu-img {
  border: 2px solid var(--link-color);
}
.md-typeset figure {
  margin: 0px;
}
.md-typeset figcaption {
    margin: 0.2em auto 0.8em auto;
}